#upper-main-Answers {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  border: 2px dashed black;
  border-top: none;
  border-left: none;
  border-right: none;
}

#top-upper-mainAns {
  height: 40%;
}

#top-upper-main-numAns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 100%;
}

#top-upper-main-title {
  display: inline-block;
  width: 72%;
  padding-left: 1%;
}

#top-upper-main-ask {
  display: inline-block;
  width: 13%;
}

#ans-main-ask {
  width: 80%;
  height: 50%;
  background-color: rgb(45, 150, 211);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 100%;
  padding: 15%;
}

#bottom-upper-mainAns {
  height: 60%;
}

#top-upper-main-numViews {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 100%;
}

#top-upper-main-questionContent {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2.5vh;
  padding-left: 1%;
  width: 72%;
}

.top-upper-main-QAskedBy {
  display: inline-block;
  width: 14%;
}

.top-upper-main-QAskedBy h4 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(176, 0, 0);
  margin-bottom: 2%;
}

.top-upper-main-QAskedBy h5 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 75);
  font-weight: normal;
  margin-top: 2%;
}

#lower-main-Answers {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%; /* change the height later */
  border: none;
  overflow-y: auto;
}

.answer-container {
  width: 100%;
  position: relative;
  border: 2px dashed black;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.answer-container-last{
  width: 100%;
  position: relative;
  border: 2px dashed black;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-bottom: 10%;
}

.answer-content-div {
  display: inline-block;
  width: 70%;
}

.answer-content-div p {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2.25vh;
  padding: 1%;
  padding-left: 2%;
}

.answer-metadata-div {
  display: inline-block;
  width: 14%;
}

.answer-metadata-div h4 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  margin-bottom: 2%;
}

.answer-metadata-div h5 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 75);
  font-weight: normal;
  margin-top: 2%;
}

.ans-main-answer {
  width: 10vw;
  height: 8vh;
  background-color: rgb(45, 150, 211);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 100%;
  margin: 4vh 0vw 10vh 2vw;
}

#top-upper-main-votes{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3vh;
  padding: 1%;
  padding-left: 2%;
}

.pagination {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  border-top: 2px solid black;
  background-color: rgb(244, 243, 243);
  border-left: dashed 2px black;
  z-index:100;
}

.pagination-button {
  position: relative;
  left: 50%;
  transform: translateX(-150%);
  margin-top: 0.25%;
  width: 10%;
  height: 80%;
  background-color: rgb(244, 243, 243);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100%;
  margin-right: 1%;
}

.vote-container {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14%;
}

.upvote-button, .downvote-button {
  width: 80%;
  padding: 10px 10px;
  background-color: rgb(14, 195, 215);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5vmin;
  cursor: pointer;
  margin: 5px;
}

.vote-counter {
  font-size: 4vmin;
  font-weight: bold;
  text-align: center;
}

.comment-content-div{
  display: inline-block;
  width: 60%;
}
.comment-metadata-div{
  display: inline-block;
  width: 24%;
}