.sulg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container {
  display: flex;
  width: 100%;
}

.button-container button {
  margin-right: 10px; /* Adjust as needed */
}

.sulg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #a2bbff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 70%;
}
.sulg-form input[type="text"], .sulg-form input[type="email"], .sulg-form input[type="password"] {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    width: 100%;
}
.sulg-form button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(70, 73, 240);
    color: white;
    cursor: pointer;
    width: 100%;
}
.sulg-form button:hover {
    background-color: rgb(70, 73, 240);
}

.sulg-bottom-div{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.sulg-bottom-div button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(70, 73, 240);
    color: white;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.new-f-error {
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 3%;
    color: rgb(219, 0, 0);
  }